.AuthPage {
	height: 100vh !important;
	width: 90vw !important;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	input {
		padding: 15px;
		width: 65%;
		margin: 20px auto;
		border: 2px solid black;
		border-radius: 5px;
		box-shadow: 3px 3px 3px black;
	}

	button {
		width: 60%;
	}
}
