.MuiModal-root {
	width: 90%;
	margin: auto;
	height: 40vh;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: white;
	box-shadow: 3px 3px 3px black;
	border: 1px solid black;
	transition: ease-in 2s;
}
